{
  "root": true,
  "plugins": ["react", "prettier"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "settings": {
    "react": {
      "version": "16.8"
    }
  },
  "rules": {
    "react/prop-types": "off",
    "react/display-name": "off",
    "prettier/prettier": [
      "error",
      {
        "printWidth": 120,
        "tabWidth": 2,
        "singleQuote": true,
        "trailingComma": "none",
        "bracketSpacing": false,
        "semi": false,
        "useTabs": false,
        "parser": "babel",
        "jsxBracketSameLine": false
      }
    ]
  },
  "overrides": [
    {
      "files": [
        // matching the pattern of the test runner
        "*.test.js"
      ],
      "env": {
        "jest": true
      }
    }
  ]
}
