# Each job begins with this setup.
defaults: &defaults
  docker:
    - image: circleci/node:8
  working_directory: ~/repo

version: 2
jobs:
  build:
    <<: *defaults

    steps:
      - checkout
      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ .Branch }}-{{ checksum "yarn.lock" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-{{ .Branch }}-
            - v1-dependencies-
      - run: yarn install
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "yarn.lock" }}
      - run: yarn build
      - persist_to_workspace:
          root: .
          paths: .

  deploy:
    <<: *defaults

    steps:
      - attach_workspace:
          at: .
      - checkout
      - run:
          name: Setup NPM
          command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc
      - run:
          name: Push to NPM
          command: npm publish

  deploy-storybook:
    <<: *defaults

    steps:
      - checkout
      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ .Branch }}-{{ checksum "yarn.lock" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-{{ .Branch }}-
            - v1-dependencies-
      - run: yarn install
      - run:
          name: Install Now CLI
          command: sudo npm install --global --unsafe-perm now
      - run: yarn share:ci

  deploy-canary:
    <<: *defaults

    steps:
      - attach_workspace:
        at: .
      - checkout
      - run:
        name: Setup NPM
        command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc
      - run:
        name: Push to NPM (tag canary)
        command: npm publish --tag canary

  deploy-canary-storybook:
    steps:
      - checkout
      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ .Branch }}-{{ checksum "yarn.lock" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-{{ .Branch }}-
            - v1-dependencies-
      - run: yarn install
      - run:
          name: Install Now CLI
          command: sudo npm install --global --unsafe-perm now
      - run: yarn share:canary

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            tags:
              only: /^v\d+\.\d+\.\d+$/
            branches:
              only:
                - master
      - deploy-canary:
          requires:
            - build
          filters:
            tags:
              only: /^v\d+\.\d+\.\d+-canary\.\d+$/
            branches:
              only:
                - canary
      - deploy-canary-storybook:
        requires:
          - deploy-canary
        filters:
          tags:
            only: /^v\d+\.\d+\.\d+-canary\.\d+$/
          branches:
            only:
              - canary
      - deploy-storybook:
          requires:
            - deploy
          filters:
            tags:
              only: /^v\d+\.\d+\.\d+$/
            branches:
              only:
                - master
